{%  extends 'templates/app.twig' %}

{% block content %}

<div class="jumbotron" id="about">
    <h1 class="display-3 text-white mb-0">About</h1>
    <p class="display-6 text-white float-right mt-4">Arles</p>
  </div>
      
  <div class="container">
  
    <div class="card">
           
      <div class="card-block">
        
        <p class="card-text">Familiaris has been developed from an idea of Pete Thomas who, in 2016, wanted to record information about himself and others in his family for the benefit of his children and their descendants.</p>
        <p>
          The primary purpose was to enable parents to record information, such as medical history, about themselves and their children that might not be known to the children but who might find the information useful in later life.
        </p>
        <p>However, it became clear that anecdotal information (stories) about previous generations were interesting and should be recorded too.
        </p>
        <p>The name for the site has changed several times, mainly so that a memorable and unused name could be registered. The original name was FIR-tree (short for Family Information and Relationships tree)
       but this was found to be already owned. After a discussion in a pub in Derbyshire (The Harewood Arms) about whether it was better to be burried in a wooden or wicker coffin, it was suggested that the site should be named wickerorwood since most individuals on the tree would be dead! As many users of the site might not fully comprehend the humour, a working title of Familiaris (Latin) was hit upon (though in antiquity this term was not frequently used to refer to family).
      </div>
          
    </div>   
            
  </div>
        
{% endblock %}