{% extends 'templates/app.twig' %}

{% block content %}


<div class="row">
    <div class="col-md-8 col-md-offset-3 pb-2 bg-primary">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                Respond to query
                <a type="button" class="close" href="{{ path_for('administration') }}" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </a>
                
            </div>

            <div class="card-block">

            </div>
        </div>
    </div>
</div>

{% endblock %}