{%  extends 'templates/app.twig' %}

{% block content %}

<h2>Votes cast by members{{ name }}</h2>
<br>

<div class="container-fluid text-center">    

Record of whether or not members have given their opinion on questions.

{% for key, voting in votings %} 

	<table>
		<thead>	
			<tr>
				<th>Member id</th>
				<th>Question nos</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{key}}</td>
				<td>{{voting}}</td>
			</tr>
		</tbody>
	</table>

{% endfor %}

</div>



{% endblock %}