{%	extends 'templates/app.twig' %}

{% block content %}


<div class="container-fluid text-center"> 
	<div class="card" style="width:20rem;">
		<div class="card-header">
			<h3>Familiaris Error</h3>
		</div>
		<img class="card-img-top" src="{{ base_url() }}/images/waterfall.png" width="90%" height="200" alt="A waterfall">
		<div class="card-block">
			<p class="card-text"><strong>Stop doing that! (Error 400)</strong></p>
			<a class="btn btn-primary btn-sm"  type="button" href="{{path_for('home')}}">Return to Home Page</a>
		</div>
	</div>
</div>

{% endblock %}