<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Familiaris</title>

	<link rel="stylesheet" href="{{ base_url() }}/css/font-awesome-4.7.0/css/font-awesome.min.css">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 
	

	<!-- Link to own css stylesheet using base_url (public) input when we created twig view-->
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<!-- The zxcvbn library for password strength meter -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>


</head>
<body>

	{% include 'templates/partials/navigation.twig' %}

	<div class="container">

		<!--Include the flash message at top of page-->
		{% include 'templates/partials/flash.twig' %}

		{% block content %}{% endblock %}

	</div>

	{% include 'templates/partials/footer.twig' %}
	

	

	<!-- bootstrap -->


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

	
	<!-- Bootstrap jstree plugin -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>`

	<!--Complexify-->

	<script src="assets/js/jquery.complexify.js"></script>
	
<script type="text/javascript" src="{{ base_url() }}/js/app.js"></script>

</body>
</html>