{%  extends 'templates/app.twig' %}

{% block content %}

{% set person = people[0] %}

{% set name = person.fullName() %}

<h2>Descendants of {{ name }}</h2>
<br>

<div class="container-fluid text-center">    

Display of descendants: not yet implemented.

</div>
<hr>

{% endblock %}